<section class="tab" data-tab="terrainmapper">

  <div class="form-group">
    <label> User Visible </label>
    <div class="form-fields">
      <input type="checkbox" name="flags.terrainmapper.userVisible" {{ checked data.flags.terrainmapper.userVisible }} />
    </div>
  </div>

  <div class="form-group">
    <label>Color</label>
    <div class="form-fields">
      <color-picker name="flags.terrainmapper.color" value={{data.flags.terrainmapper.color}} id="terrainmapper.color"}}
        <input type="text" placeholder="#FFFFFF">
        <input type="color">
      </color-picker>
    </div>
  </div>

  <div class="form-group">
    <label> Anchor </label>
    <div class="form-fields">
      <select name="flags.terrainmapper.anchorChoice">
        {{ selectOptions terrainmapper.anchorOptions selected=data.flags.terrainmapper.anchor localize=true }}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label> Offset from Anchor </label>
    <div class="form-fields">
      <input type="number" value="{{ data.flags.terrainmapper.offset }}" name="flags.terrainmapper.offset" step="1" placeholder="0" style="width:60px">
    </div>

    <label> Range Below </label>
    <div class="form-fields">
      <input type="number" value="{{ data.flags.terrainmapper.rangeBelow }}" name="flags.terrainmapper.rangeBelow" step="1" max="0" placeholder="0" style="width:60px">
    </div>

    <label> Range Above </label>
    <div class="form-fields">
      <input type="number" value="{{ data.flags.terrainmapper.rangeAbove }}" name="flags.terrainmapper.rangeAbove" step="1" min="0" placeholder="0" style="width:60px">
    </div>
  </div>
  <br>
</section>