<fieldset>
<legend>{{localize "terrainmapper.name"}}</legend>
  <div class="form-group">
    <label>{{ localize "terrainmapper.scene-config.backgroundElevation.name" }}</label>
    <div class="form-fields">
      <input type="number" id="terrainmapper-backgroundElevation" name="flags.terrainmapper.backgroundElevation" class="terrainmapper" placeholder="0" step = "0.1" value="{{ data.flags.terrainmapper.backgroundElevation }}">
    </div>
    <p class="notes">{{ localize "terrainmapper.scene-config.backgroundElevation.hint" }}</p>
  </div>
</fieldset>
