<form class="{{classes}} settings-list">
  <section>
    <h1> {{ localize "terrainmapper.scene-config.layer-elevation.header"}} </h1>
    <p class="hint"> {{ localize "terrainmapper.scene-config.layer-elevation.hint"}}

    {{#each layerElevations as | elevation | }}

      <!-- Input for terrain layer elevation -->
      <div class="form-group">
        <label>{{ localize "terrainmapper.phrases.terrainLayer"}} {{@index}} <span class="units">({{@root.gridUnits}})</span> </label>
          <div class="form-fields">
            <input type="number" placeholder="0" name="layerElevations.{{@index}}" value="{{ elevation }}">
          </div>
      </div>
    {{/each}}
  </section>

  <section>
    <h1> {{ localize "terrainmapper.scene-config.pixels.header"}} </h1>
    <p class="hint"> {{ifThen noSceneTerrains (localize 'terrainmapper.scene-config.pixels.hint-empty') (localize 'terrainmapper.scene-config.pixels.hint')}} </em> </p>

    <div style="column-count: 1">
      <ol>
      {{#each sceneTerrains as |terrain idx|}}

          <!-- Input for terrain selection -->
          <div class="form-fields slim" >
            <li>
            <select name="sceneTerrains.{{idx}}.anchorChoice">
              {{ selectOptions @root.allTerrainLabels selected=terrain.id localize=true }}
            </select>
            </li>
          </div>
      {{/each}}
      </ol>
    <div>
  </section>

  <br>

  <footer class="sheet-footer" style="margin: auto; padding-top: 30px">
    <div class="flex-table">
      <div class="flexrow">
        <div class="flexcol" style="flex-grow: 1">
          <button type="submit" name="submit" value="1"><i class="far fa-floppy-disk"></i>{{localize "Save Changes"}}</button>
        </div>
      </div>
    </div>
  </footer>
</form>