<form class="{{classes}} flexcol" autocomplete="off">
  <h1> {{localize "terrainmapper.phrases.terrainLayer"}} 0 </h1>

  <p> {{ localize "terrainmapper.settings.terrain.introduction"}} </p>

  <button class='add-terrain'>
    <i class='far fa-plus-square'></i>{{localize "terrainmapper.settings.terrain.addTerrain"}}
  </button>

  <h2> {{ localize "terrainmapper.phrases.terrain"}} </h2>

  <div class='flexrow terrain-entry' data-idx="{{idx}}">
    <div class='flexcol'>

      <div class='form-group'>
        <div class='form-fields'>
        	<label for="name">
						Name
					</label>
          <input
            type='text'
            name="Name"
            value="Ice"
          />
        </div>
      </div>

      <div class='form-group'>
        <div class='form-fields'>
        	<label for="icon">
						Icon
					</label>
					{{ filePicker type="image" target="img" }}
        </div>
      </div>

      <div class='form-group'>
        <div class='form-fields'>
        	<label for="color">
						Color
					</label>
					{{ colorPicker name="Color" value="color" default="#000000" }}
        </div>
      </div>

      <div class='form-group'>
        <label for="display-choices">
          Display
        </label>
        <div class "form-fields">
          <select name="displayChoice">
            {{ selectOptions displayOptions selected=display localize=true }}
          </select>
        </div>
      </div>

      <div class='form-group'>
        <label for="visibility">
          User Visibility
        </label>
        <div class "form-fields">
          <select name="visibiltyChoice">
            {{ selectOptions visibilityOptions selected=visibility localize=true }}
          </select>
        </div>
      </div>

      <div class='form-group'>
        <label for="range-choices">
          Range Anchor
        </label>
        <div class "form-fields">
          <select name="rangeChoice">
            {{ selectOptions rangeOptions selected=range localize=true }}
          </select>
        </div>
      </div>

     <div class='form-group'>
       <div class='form-fields'>
         <label for="min">
						Floor
					</label>
					{{ numberInput 0 name="min" step=1 }}
       </div>
     </div>

     <div class='form-group'>
       <div class='form-fields'>
         <label for="elevation">
						Elevation
					</label>
					{{ numberInput 0 name="elevation" step=1 }}
       </div>
     </div>

     <div class='form-group'>
       <div class='form-fields'>
         <label for="max">
						Ceiling
					</label>
					{{ numberInput 1 name="max" step=1 }}
       </div>
     </div>


    </div>
  </div>

  <footer class="sheet-footer flexrow" style="margin: auto; padding-top: 30px">
    <br>
    <button type='submit' name='submit' value='1'><i class='far fa-floppy-disk'></i>{{localize "Save Changes"}}</button>
    <button type='import' name='import' value='1'><i class='far fa-file-arrow-up'></i>{{localize "Import"}}</button>
    <button type='export' name='export' value='1'><i class='far fa-file-arrow-down'></i>{{localize "Export"}}</button>
  </footer>
</form>