<ol id="terrainmapper-tools" class="sub-controls app control-tools flexcol" role="tabpanel">
  <li id="terrainmapper-tool"
      class="control-tool"
      role="button"
      data-tooltip="Select terrain to use with the tool"
      title="{{ localize 'terrainmapper.controls.currentTerrain' }}"
      style="width: 100px;"
      >
    <select name="terrain-selected"
            id="terrainmapper-tool-select"
            class="form-fields"
            style="text-align: left; width: 100px; font-size: 14px; border: 0px; color: #f0f0e0">

    <!---
    <option value="1">Ice</option>
    <option value="2" "selected">Move x2</option>
    <option disabled>──────────</option>
    <option value="x3">Ice 2</option>
    -->

      {{#each sceneTerrains as |terrain|}}
        <option value="{{ terrain.key }}" {{ifThen terrain.isSelected "selected" : ""}}>{{ terrain.label }} </option>
      {{/each}}
      <option disabled>──────────</option>

      {{#each nonSceneTerrains as |terrain|}}
        <option value="{{ terrain.key }}" {{ifThen terrain.isSelected "selected" : ""}}>{{ terrain.label }} </option>
      {{/each}}

    </select>
  </li>
</ol>

<ol id="terrainmapper-tools" class="sub-controls app control-tools flexcol" role="tabpanel">
  <li id="terrainmapper-tool"
      class="control-tool"
      role="button"
      data-tooltip="Select terrain to use with the tool"
      title="{{ localize 'terrainmapper.controls.currentLayer' }}"
      style="width: 100px;"
      >
    <input type="number"
           value="{{currentLayer}}"
           name="currentLayer"
           id="terrainmapper-tool-layer"
           min=0
           max=7
           step=1
           class="form-fields"
           style="text-align: center; width: 20px; font-size: 14px; border: 0px; color: #f0f0e0" >
    </select>
  </li>
</ol>
