<form class="{{classes}} settings-list">

  <h2> Defaults </h2>
  <p> <em> Default settings for new terrain types. </em></p>

  <div class='form-group'>
    <label for="visibility"> Visibility </label>
    <div class "form-fields">
      <input type="checkbox" name="userVisible" {{ checked userVisible }} />
    </div>
  </div>

  <div class='form-group'>
    <label for="anchorChoice"> Anchor </label>
    <div class "form-fields">
      <select name="anchorChoice">
        {{ selectOptions anchorOptions selected=anchor localize=true }}
      </select>
    </div>
  </div>

  <div class='form-group slim'>
    <div class='form-fields'>
     <label for="offset"> Offset from Anchor </label>
      {{ numberInput offset name="offset" step=1 }}
    </div>

    <div class='form-fields'>
      <label for="min"> Range Below </label>
      {{ numberInput min name="min" step=1 max=0 }}
    </div>

    <div class='form-fields'>
      <label for="max"> Range Above </label>
      {{ numberInput max name="max" step=1 min=0 }}
    </div>
  </div>


  <br>
  <h2> Terrains </h2>

  <p> <em> {{ localize "terrainmapper.settings.terrain.introduction"}} </em> </p>


  <!-- Table Header -->
  <!-- Display uses icon/color/both -->
  <!--- Id, Display, Name, Visibility (eye) Edit Trash-->

  <!-- Table Rows -->
  <div class="terrainmapper scrollable flex-table">

    {{#each object as |terrain idx|}}
      <div class="flexrow">
        <div class="flexcol" style="flex-grow: 1" data-idx="{{idx}}"> <img src="{{terrain.icon}}" width="24" height="24" class="flex0"/> </div>
        <div class="flexcol" style="flex-grow: 5" data-idx="{{idx}}"> {{terrain.name}} </div>
        <div class="flexcol" style="flex-grow: 2" data-idx="{{idx}}"> @5|-2|0 </div>
        <div class="flexcol" style="flex-grow: 1">
          <!-- toggle that changes between three options on push -->
          <button class="button tm-toggle-visibility" data-idx="{{idx}}" style="width: 27px; background-color: transparent; border: none; text-align: center">
            <i class="far fa-eye"></i> <!-- "far fa-eye-slash" or "far fa-toggle-off" -->
          </button>
        </div>
        <div class="flexcol" style="flex-grow: 2">
          <div class='form-fields'>
            <button class="button tm-edit-ae" data-idx="{{idx}}" style="width: 27px; text-align: center">
              <i class="fas fa-bolt-lightning"></i>
            </button>
            <button class="button tm-remove-terrain" data-idx="{{idx}}" style="width: 27px; text-align: center">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        <hr>
      </div>
    {{/each}}

  <br>
  <div class="flexcol" style="flex-grow: 1">
    <button class="button tm-add-terrain">
      <i class="far fa-plus-square"></i>{{localize "terrainmapper.settings.terrain.addTerrain"}}
    </button>
  </div>

  <footer class="sheet-footer" style="margin: auto; padding-top: 30px">
    <hr>
    <div class="flex-table">
      <div class="flexrow">
        <div class="flexcol" style="flex-grow: 1">
          <button type="submit" name="submit" value="1"><i class="far fa-floppy-disk"></i>{{localize "Save Changes"}}</button>
        </div>
        <div class="flexcol" style="flex-grow: 1">
          <button class="button import" type="import" name="import" value="1"><i class="far fa-file-arrow-up"></i>{{localize "Import"}}</button>
        </div>
        <div class="flexcol" style="flex-grow: 1">
          <button class="button export" type="export" name="export" value="1"><i class="far fa-file-arrow-down"></i>{{localize "Export"}}</button>
        </div>
      </div>
    </div>
  </footer>
</form>