<form class="settings-list">
  <section>

  <h1> {{ localize "terrainmapper.list-config.header" }} </h1>

  <!-- Table Header -->
  <!-- Display uses icon/color/both -->
  <!--- Id, Display, Name, Visibility (eye) Edit Trash-->

  <!-- Table Rows -->
    <div class="flextable">

      {{#each allTerrains as |terrain idx|}}
        <div class="flexrow">

          <!-- Toggle user visibility -->
          <div class="flexcol" style="flex-grow: 1">
            <button class="button tm-toggle-visibility" data-idx="{{idx}}" style="width: 27px; background-color: transparent; border: none; text-align: center">
              <i class="{{ifThen terrain.userVisible 'far fa-eye' 'far fa-eye-slash'}}"></i>
            </button>
          </div>

          <!-- Terrain color -->
          <div class="flexcol" style="flex-grow: 1" data-idx="{{idx}}">
            <input type="color" value="{{ terrain.color.css }}" name="allTerrains.{{idx}}.color" style="width: 36px">
          </div>

          <!-- Terrain icon (modified filePicker) -->
          <div class="flexcol" style="flex-grow: 1" data-idx="{{idx}}">
            <button class="file-picker" data-idx="{{idx}}" data-type="image" title="{{localize 'FILES.BrowseTooltip'}}" tabindex="-1" style="width: 36px; background-color: transparent; border: none; text-align: center">
              <img src="{{terrain.icon}}" width="24" height="24" class="flex0"/>
            </button>
          </div>

          <!--- Input for terrain name -->
          <div class="flexcol" style="flex-grow: 5" data-idx="{{idx}}">
              <div class='form-fields slim'>
                <input type="text" name="allTerrains.{{idx}}.name" placeholder="Terrain Name" value="{{ terrain.name }}">
              </div>
          </div>

          <!--- Input for terrain offset|range below|range above -->
          <div class="flexcol" style="flex-grow: 2" data-idx="{{idx}}">
            <div class='form-fields slim'>
              <input type="number" name="allTerrains.{{idx}}.offset" placeholder="0" style="width:30px" value="{{ terrain.offset }}">
              <input type="number" name="allTerrains.{{idx}}.rangeBelow" placeholder="0" style="width:30px" max="0" step="1" value="{{ terrain.rangeBelow }}">
              <input type="number" name="allTerrains.{{idx}}.rangeAbove" placeholder="0" style="width:30px" min="0" step="1" value="{{ terrain.rangeAbove }}">
            </div>
          </div>

          <!-- Input for anchor choice -->
          <div class="flexcol" style="flex-grow: 1">
              <div class="form-fields slim" >
                <select name="allTerrains.{{idx}}.anchor">
                  {{ selectOptions @root.anchorAbbrOptions selected=terrain.anchor localize=true }}
                </select>
              </div>
          </div>

          <!-- Button for editing the terrain / effect -->
          <!-- Button for deleting terrain -->
          <div class="flexcol" style="flex-grow: 2">
            <div class='form-fields slin'>
              <button class="button tm-edit-ae" data-idx="{{idx}}" style="width: 27px; text-align: center">
                <i class="fas fa-bolt-lightning"></i>
              </button>
              <button class="button tm-remove-terrain" data-idx="{{idx}}" style="width: 27px; text-align: center">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>

        </div>
        <hr>
      {{/each}}
    </div>
  </section>

  <footer class="sheet-footer" style="margin: auto; padding-top: 30px">
    <div class="flex-table">
      <div class="flexrow">
        <div class="flexcol" style="flex-grow: 1">
          <button class="button tm-add-terrain" type="submit" name="import" value="1"><i class="fas fa-square-plus"></i>{{localize "terrainmapper.list-config.add"}}</button>
        </div>
      </div>

      <!-- Button: Import all terrains -->
      <div class="flexrow">
        <div class="flexcol" style="flex-grow: 1">
          <button class="button tm-import-terrain" type="submit" name="import" value="1"><i class="fas fa-file-arrow-up"></i>{{localize "terrainmapper.list-config.import"}}</button>
        </div>

      <!-- Button: Replace all terrains -->
        <div class="flexcol" style="flex-grow: 1">
          <button class="button tm-replace-terrain" type="submit" name="replace" value="1"><i class="fas fa-file-import"></i>{{localize "terrainmapper.list-config.replace"}}</button>
        </div>

      <!-- Button: Export all terrains -->
        <div class="flexcol" style="flex-grow: 1">
          <button class="button tm-export-terrain" type="submit" name="export" value="1"><i class="fas fa-file-arrow-down"></i>{{localize "terrainmapper.list-config.export"}}</button>
        </div>
      </div>

    </div>
  </footer>

</form