<fieldset>
  <legend>{{ localize "terrainmapper.name" }}</legend>

    <!-- Treat tile as a "floor." Checkbox. -->
    <div class="form-group" id="terrainmapper-tileconfig-isFloor">
      <label>{{ localize "terrainmapper.tile-config.isFloor.name" }} </label>
      <div class="form-fields">
        <input type="checkbox" name="flags.terrainmapper.isFloor" {{ checked document.flags.terrainmapper.isFloor }}>
      </div>
      <p class="hint">{{ localize "terrainmapper.tile-config.isFloor.hint" }}</p>
    </div>

    <!-- Treat transparent pixels as holes -->
    <div class="form-group" id="terrainmapper-tileconfig-testHoles">
      <label>{{ localize "terrainmapper.tile-config.testHoles.name" }} </label>
      <div class="form-fields">
        <input type="checkbox" name="flags.terrainmapper.testHoles" {{ checked document.flags.terrainmapper.testHoles }}>
      </div>
      <p class="hint">{{ localize "terrainmapper.tile-config.testHoles.hint" }}</p>
    </div>

  </legend>
</fieldset>